<launch>

  <param name="robot_description"
         command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro"/>

  <node pkg="joint_state_publisher"
        type="joint_state_publisher"
        name="joint_state_publisher"/>

  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"/>

  <node pkg="rviz"
        type="rviz"
        name="rviz"/>

</launch>
